body{
    background-color: black;
    color: white;
    font-family:"Nunito", sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
} 
p{
    font-size: 30px;
} 
header{
    border-bottom: solid 2px  rgb(red);
    padding: 20px;
    font-size: 30px;
} 